.modal-window-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;

    transition: 0.4s all;
}

/* Card */
.modal-window-wrapper .modal-window-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 90vh;
    min-height: 30vh;
    max-width: 30%;
    min-width: 20%;
    opacity: 1;
    transition: all 0.4s;
    background-color: #E1D4C9;
    border-radius: 25px;
    border: none;
}

.modal-window-wrapper .modal-window-card.hide {
    width: 0;
    height: 0;
    opacity: 0;
}

.modal-window-wrapper .modal-window-card .section {
    padding: 1.5rem;
}

/* Header */
.modal-window-wrapper .modal-window-card .header {
    display: flex;
    flex: 4;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0.3;
    gap: 35px;
    overflow: hidden;
    padding-bottom: 0px;
}

.modal-window-wrapper .modal-window-card>.header .cocktail-img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.modal-window-wrapper .modal-window-card>.header .cocktail-img>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.modal-window-wrapper .modal-window-card>.header .title {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 35px;

    color: #403F3D;
}

.modal-window-wrapper .modal-window-card>.header .close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;

    width: 3rem;
    height: 3rem;
    border-radius: 150px;

    border: 1px solid #8a9199;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    transition: all ease 0.3s;
}

.modal-window-wrapper .modal-window-card>.header .close-btn:before,
.modal-window-wrapper .modal-window-card>.header .close-btn:after {
    position: absolute;
    width: 2rem;
    height: 1px;
    left: 50%;
    top: 50%;
    margin-left: -1rem;
    content: '';
    background: #8a9199;
    transition: all ease 1s;
}

.modal-window-wrapper .modal-window-card>.header .close-btn:before {
    transform: rotate(-45deg);
}

.modal-window-wrapper .modal-window-card>.header .close-btn:after {
    transform: rotate(45deg);
}

.modal-window-wrapper .modal-window-card>.header .close-btn:hover,
.modal-window-wrapper .modal-window-card>.header .close-btn:focus {
    transform: rotate(180deg);
    border-color: #f26a3d;
    background: rgba(242, 106, 61, 0.1);

    cursor: pointer;
}

.modal-window-wrapper .modal-window-card>.header .close-btn:hover:before,
.modal-window-wrapper .modal-window-card>.header .close-btn:hover:after {
    background: rgb(224, 59, 75);
}

/* CardContent */
.modal-window-wrapper .modal-window-card .modal-window-content {
    display: flex;
    flex: 5;
    flex-wrap: wrap;
    flex-shrink: 0.7;
    padding-top: 0px;
    max-width: 100%;
    overflow-y: scroll;
}

.modal-window-wrapper .modal-window-card .modal-window-content h4 {
    font-size: 17px;
    text-transform: uppercase;
    color: #403F3D;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 5px 10px;
    border: 1px solid black;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 100%;
    min-height: 100%;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info p {
    font-size: 17px;
    font-weight: 600;
    color: #B0907A;
    margin-bottom: 15px;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info b {
    font-weight: 600;
    font-size: 19px;
    color: rgb(41, 41, 41);
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info .more-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info .ingredients-additional-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 10px;
}


/* Footer */
.modal-window-wrapper .modal-window-card .footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.modal-window-wrapper .modal-window-card .footer>button {
    padding: 1rem 2rem;
    width: 60%;
    border: 1px solid #665F55;
    border-radius: 35px;
    color: #403F3D;
    font-weight: 700;

    transition: all 0.6s;

    &:hover {
        color: #E1D4C9;
        background-color: #403F3D;
    }
}

@media (max-width: 1920px) {
    .modal-window-wrapper .modal-window-card {
        max-width: 40%;
        min-width: 20%;
    }
}


@media (max-width: 1440px) {
    .modal-window-wrapper .modal-window-card {
        max-width: 45%;
        min-width: 20%;
    }
    .modal-window-wrapper .modal-window-card>.header .title {
        margin-bottom: 10px;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content .instruction>p {
        font-size: 18px;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content .ingredients .list  {
        font-size: 18px;
    }

    .modal-window-wrapper .modal-window-card .header {
        padding-bottom: 1rem;
        gap: 15px;
        flex-shrink: 0.4;
    }

    .modal-window-wrapper .modal-window-card>.header .title {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .modal-window-wrapper .modal-window-card>.header .title {
        margin-bottom: 0px;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content {
        flex-shrink: 0.6;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content .ingredients {
        width: 45%;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content .instruction {
        width: 55%;
    }

    .modal-window-wrapper .modal-window-card .footer>button {
        padding: 0.5rem 1rem;
    }
}


@media (max-width: 1200px) {
    .modal-window-wrapper .modal-window-card {
        max-width: 60%;
        min-width: 20%;
    }
}

@media (max-width: 1024px) {
    .modal-window-wrapper .modal-window-card {
        max-width: 80%;
        min-width: 20%;
    }
}

@media (max-width: 600px) {
    .modal-window-wrapper .modal-window-card .footer {
        width: 100%;
        padding: 1rem 0.5rem;
    }
    .modal-window-wrapper .modal-window-card .footer>button {
        font-size: 14px;
    }

    .modal-window-wrapper .modal-window-card>.header .title {
        font-size: 21px;
    }
}

@media (max-width: 450px) {
    .modal-window-wrapper .modal-window-card .footer {
        padding: 1rem 0rem;
    }
    .modal-window-wrapper .modal-window-card .footer>button {
        font-size: 14px;
    }
}