/* CardContent */
.modal-window-wrapper .modal-window-card .modal-window-content .ingredients {
    padding: 5px 10px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    width: 40%;
    min-height: 100%;
}

.modal-window-wrapper .modal-window-card .modal-window-content .ingredients .list {
    color: #403F3D;
    font-size: 16px;
    list-style: inside;
    font-weight: 550;
}

.modal-window-wrapper .modal-window-card .modal-window-content .ingredients .list i {
    font-weight: 500;
    color: #B0907A;
}

.modal-window-wrapper .modal-window-card .modal-window-content .instruction {
    padding: 5px 10px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-left: none;
    min-height: 100%;
    flex-grow: 1;
    width: 60%;
}

.modal-window-wrapper .modal-window-card .modal-window-content .instruction>p {
    font-size: 15px;
    color: rgb(41, 41, 41);
    font-weight: 450;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 5px 10px;
    border: 1px solid black;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 100%;
    min-height: 100%;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info p {
    font-size: 17px;
    font-weight: 600;
    color: #B0907A;
    margin-bottom: 15px;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info b {
    font-weight: 600;
    font-size: 19px;
    color: rgb(41, 41, 41);
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info .more-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.modal-window-wrapper .modal-window-card .modal-window-content .additional-info .ingredients-additional-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 10px;
}

.modal-window-wrapper .modal-window-card .ingredient-card {
    max-width: 120px;
    padding: 10px 5px;
}

.modal-window-wrapper .modal-window-card .ingredient-card .name {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal-window-wrapper .modal-window-card .ingredient-card .ingredient-img {
    max-height: 140px;
    height: auto;
}

.modal-window-wrapper .modal-window-card .ingredient-card .ingredient-img>img {
    object-fit: fill;
}

@media (max-width: 1024px) {
    .modal-window-wrapper .modal-window-card .modal-window-content .additional-info p {
        font-size: 15px;
    }
    .modal-window-wrapper .modal-window-card .modal-window-content .additional-info b {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .modal-window-wrapper .modal-window-card .modal-window-content .ingredients {
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom: none;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content .instruction {
        border-left: 1px solid black;
        border-radius: initial;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content h4 {
        font-size: 16px;
    }

    .modal-window-wrapper .modal-window-card .modal-window-content .additional-info p {
        font-size: 13px;
    }
    .modal-window-wrapper .modal-window-card .modal-window-content .additional-info b {
        font-size: 14px;
    }
}