.card-preview {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-width: 40%;
    height: 20rem;
    border: 1px solid #C1B6AD;
    border-radius: 30px;
    padding-bottom: 10px;
}

.card-preview>.image {
    width: 100%;
    height: 15rem;
    border-radius: 30px;
    overflow: hidden;
}

.card-preview>.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s all;
}

.card-preview:hover .image img {
    transform: scale(1.1);
}

.card-preview>h4 {
    color: #403F3D;
    font-weight: 700;
}

.card-preview .category {
    font-size: 13px;
}

.card-preview .heart {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
}

.card-preview .heart>svg {
    opacity: 1;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.card-preview .heart.hide>svg {
    opacity: 0;
}

.card-preview .heart:hover svg>path,
.card-preview .heart.liked svg>path {
    fill: #FF4C4C;
}


.card-preview .heart>svg>path {
    fill: #fff;
    transition: all 0.4s ease;
}