.page-switcher {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 50px 0px;
}

.page-switcher span {
    font-size: 18px;
    font-weight: bold;
}

.page-switcher .per-page>span {
    font-size: 15px;
    font-weight: 600;
}

.page-switcher .pagination-item-wrapper {
    display: flex;
    align-items: center;
}

.page-switcher .curr-page {
    display: none;
}

@media (max-width: 768px) {
    .page-switcher {
        flex-wrap: wrap;

    }
}

@media (max-width: 600px) {
    .page-switcher {
        flex-wrap: nowrap;
        gap: 10px;
    }

    .page-switcher .pagination-item-wrapper {
        display: none;
    }

    .page-switcher .curr-page {
        display: flex;
    }
}